<!--Built on a shop template at https://startbootstrap.com/previews/-->
<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>        
      <!-- Page Content -->
      <div class="container">
          <h1 class="my-4"><%=message%>.</h1>
        <!-- <div class="row"> -->
    
          <div class="col-lg-3">
    
            <!-- <h1 class="my-4"><%=message%>.</h1> -->

            <!-- Use these categories for users, orders etc. when fully implementing-->
            <!--<div class="list-group">
              <a href="#" class="list-group-item">Users</a>
              <a href="#" class="list-group-item">Orders</a>
              <a href="#" class="list-group-item">etc.</a>
            </div>-->
    
          </div>
          <!-- /.col-lg-3 -->          
          <% for(var i=0; i<orders.length; i++) {%>
          <div>              
              
                
                <div>
                    <p>Order Id: <%=orders[i].order_id%></p> 
                    <p>User Id: <%=orders[i].user_id%></p>                    
                    <p>Address: <%=orders[i].deliv_addr%></p>
                    <p>Date: <%=orders[i].order_date%></p>
                    <p>Total Price: <%=orders[i].total_price%></p>
                </div>
                <form action="/admin/edit-order" method="GET">
                <input type="hidden" name="order_id" value="<%=orders[i].order_id%>">
                <button type="submit" class="btn btn-info">Edit Order</button>
                <a class="button btn btn-info" href="/admin/home">Back to Admin Home</a>                              
                </form>
          </div>
          <% } %>
          
          <%if(orders.length<1){%>
              <a class="button btn btn-info" href="/admin/home">Back to Admin Home</a>   
              <% } %>
    
        <!-- </div> -->
        <!-- /.row -->
    
      </div>
      <!-- /.container -->
          
    </main>
<%- include('../includes/end.ejs') %>