<!--Built on a shop template at https://startbootstrap.com/previews/-->
<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <h1 class="my-4"><%=message%></h1>        
      <!-- Page Content -->
      <div class="container">                                    
          <%if(user.length>0){%>
          <div>              
              <h2><%= user[0].username%></h2>
              <p><strong>User ID: </strong> <%= user[0].id%></p>
              <p><strong>User e-mail: </strong> <%= user[0].email%></p>
              <form action="/admin/edit-user" method="GET">
                <input type="hidden" name="username" value= "<%= user[0].username %>">
                <input type="hidden" name="userid" value= "<%= user[0].id %>">
                <input type="hidden" name="email" value= "<%= user[0].email %>">
                <button type="submit" class="btn btn-primary">Review user details</button>
              </form>
              <form action="/admin/review-order" method="GET">
                <input type="hidden" name="username" value= "<%= user[0].username %>">
                <input type="hidden" name="userid" value= "<%= user[0].id %>">
                <input type="hidden" name="email" value= "<%= user[0].email %>">
                <button type="submit" class="btn btn-primary">Review user's orders</button>                
              </form>
              <a class="button btn btn-info" href="/admin/home">Back to Admin Home</a>
          </div>
          <% } %>

        <%if(user.length<1){%>
            <a class="button btn btn-info" href="/admin/home">Back to Admin Home</a>   
        <% } %>
      </div>
      <!-- /.container -->
          
    </main>
<%- include('../includes/end.ejs') %>