<!-- Built on a cart template at https://bootsnipp.com/snippets/ZXKKD -->

<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>                
      <!-- Page Content -->
      <section class="jumbotron text-center">
              <div class="container">
                  <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
                </div>
          </section>
          
          <div class="container mb-4">
              <div class="row">
                  <div class="col-12">
                      <div class="table-responsive">
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th scope="col"> </th>
                                      <th scope="col">Product</th>
                                      <th scope="col">Available</th>
                                      <th scope="col" class="text-center">Quantity</th>
                                      <th scope="col" class="text-right">Price</th>
                                      <th> </th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <% if( products.length > 0){ %>
                                    <% let total = 0 %> 
                                        <% for( let product of products) { %>
                                            <%  total += product.price * product.quantity %> 
                                            <tr>
                                                <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                                <!-- <td><img src="/images/<%= product.title %>.jpg" /> </td> -->
                                                <td><%= product.title %> </td>
                                                <td>In stock</td>
                                                <td><input class="form-control" type="text" value="<%= product.quantity %>" /></td>
                                                <td class="text-right">$<%= product.price %></td>
                                                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                            </tr>
                                            
                                        <% } %>
                                            <!-- <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Sub-Total</td>
                                                <td class="text-right">$255.90</td>
                                            </tr> -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>Shipping</td>
                                                <td class="text-right">$6.90</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><strong>Total</strong></td>
                                                <td class="text-right"><strong>$<%= total + 6.9 %></strong></td>
                                            </tr>

                        
                                  <% }else{  %>
                                      <h3>No game is in your cart !</h3>
                                      <a href="/">Go to shop</a>
                                  <% } %>
      
                              </tbody>
                          </table>
                      </div>
                  </div>
                  <div class="col mb-2">
                      <div class="row">
                          <div class="col-sm-12  col-md-6">
                              <a button class="btn btn-block btn-light" href="/">Continue Shopping</button>
                          </div>
                          <form action="/cart/checkout">
                            <div class="col-sm-12 col-md-6 text-right">
                                <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                            </div>
                          </form>
                          
                      </div>
                  </div>
              </div>
          </div>
    </main>
<%- include('../includes/end.ejs') %>