<%- include('../includes/head.ejs') %>
</head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <section>
        <div class="container">
            <h1>Reset Password</h1>
        </div>
        <!-- Show user what errors occur -->
        <% if( typeof errors != 'undefined') { %>
             <%- include('../includes/messages.ejs',{ errors:errors }) %>
        <% } %>

        <!-- register successfully, pass the message to login page  -->
        <% if( typeof success_msg != '') { %>
          <%- include('../includes/messages.ejs',{success_msg:success_msg }) %>
        <% } %>

        <!-- login fail , show login fail error message  -->
        <!-- <% if( typeof error != '') { %>
          <%- include('../includes/messages.ejs',{error:error}) %>
        <% } %> -->

        <div class="container">
            <form action="/users/postresetpassword" method="POST">
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                        <input type="email" class="form-control" name="InputEmail" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                     
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>
            </form>
            
        </div>

      </section>
    </main>
<%- include('../includes/end.ejs') %>